# Python
__pycache__/
*.py[cod]
*.class
*.so
*.egg-info/
*.egg

# Виртуальное окружение
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# Сгенерированные файлы
order_*.xlsx

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
